<!-- This form is accessed directly from the homepage -->

<div class="sign-up-form home-form">
  <p><strong>New to Lawyerly?</strong> Sign-up</p>

  <%= form_for user do |f| %>

    <% unless f.object.errors.empty? %>
        <% if user.errors.any? %>
          <div id="error_explanation" class="alert alert-error">
            <h3><%= pluralize(user.errors.count, "error") %> prohibited this form from being saved:</h3>
            <ul>
              <% user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    <% end %>
        
    <div class="span3">
      <%= f.text_field :first_name, placeholder: "First Name", class: "input-block-level" %>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "input-block-level" %>
      <%= f.text_field :email, placeholder: "Email Address", class: "input-block-level" %>
      <%= f.password_field :password, placeholder: "Password", class: "input-block-level" %>
      <%= f.submit 'Create Account', class: 'btn btn-warning span2' %>
    </div>

  <% end %>
</div>