<div class="user-container">

	<div class="background-image-container">

		<%= image_tag("matterhorn.jpg") %>

		<%= image_tag @user.profile_picture_url.to_s, :class => "user-picture" %>

	</div>	


	<div class="user-info">
		<p class="name"><%= user_name(@user) %></p>
			
		<p class="teaser"><%= @user.teaser %></p>

		<div class="author-divider"></div>
			
		<p class="email"><%= @user.email %></p>
	</div>	

</div>



<div class="right-section">

	<div class="text-area">

		<div class="divider-bar top-divider-bar">
			<a href="#">Neuste Beiträge von <%= user_name(@user) %></a>
		</div>

		<!-- Neuste Beiträge -->
		<% @posts.each do |post| %>
			<%= render 'shared/postoverview', :post => post %>
		<% end %>

	</div>
</div>


