<!-- Comment displaying part -->
<% if post.comments.any? %>
	<% post.comments.each do |comment| %>
		<p class="row comment-body"><%= link_to "#{comment.user.first_name} #{comment.user.last_name}", comment.user %> <%= comment.text %></p>
	<% end %>
<% end %>

<!-- Comment submitting part -->
<div class="row comment-box">
	<%= form_for [current_user, post, post.comments.build] do |f| %>
		<div class="span4 form-inline">
		  <%= f.text_area :text, placeholder: "Write a comment...", :rows=>1 %>
		  <%= f.submit 'Submit', class: 'btn btn-primary btn-mini' %>
		</div>
	<% end %>
</div>


