<div id="logo-navbar">

	<!-- Logo -->
	<a href="/"><div id="logo">Lawyerly</div></a>

	<!-- Navbar -->
	<div id="navbar">
		<ul>
			<!-- Mein Profil -->
	  	<i class="icon-user <%= "active" if current_page?(user_path(current_user)) %>"><li><%= link_to "Mein Profil", user_path(current_user) %></li></i>
  	  
  	  <!-- Neuer Beitrag -->
  	  <i class="icon-pencil"><li><%= link_to "Neuer Beitrag", new_user_post_path(current_user) %></li></i>

  	  <!-- Sign-in/Sign-out -->
  	  <div class="nav-right">
	  		<li><span>Angemeldet als <%= user_name(current_user) %> · <%= link_to 'Abmelden', :session, :method => :delete, :class => "sign-out" %></span></li>
  	 	</div>
  	</ul>
	</div>
	
</div>