<div class="post-overview">
	<div>
		<p class="title"><%= link_to post.title, user_post_path(post.user, post) %></p>

		<% if controller_name == "home" %>
			<%= link_to (image_tag post.user.profile_picture_url(:thumb).to_s, :class => "profile-picture"), post.user %>
		<% end %>
	</div>
	
	<% if controller_name == "home" %>
		<p class="subline" id="clearfix"><span><%= link_to name(post), post.user %></span> hat dies vor <%= distance_of_time_in_words(Time.now, post.created_at, include_seconds = false) %> publiziert · <%= pluralize(post.comments.count, 'comment') %></p>
	<% else %>
		<p class="subline" id="clearfix">Vor <%= distance_of_time_in_words(Time.now, post.created_at, include_seconds = false) %> publiziert · <%= pluralize(post.comments.count, 'comment') %></p>
	<% end %>
	
	<% if post.header %>
		<p class="text"><%= link_to post.header.truncate(270, :separator => ' ', :omission =>'...'), user_post_path(post.user, post) %></p>		
	<% else %>
		<!-- strip_tags takes out all html tags inserted by JS editor -->
		<p class="text"><%= link_to strip_tags(post.body.truncate(270, :separator => ' ', :omission =>'...')), user_post_path(post.user, post) %></p>	
	<% end %>
		
</div>