<div class="post">
	<%= image_tag post.user.profile_picture_url(:thumb).to_s, :class => "profile_picture thumb_profile_picture" %>
	<h5><%= post.title %></h5>
	<p class="subline"><%= link_to name(post), post.user %> wrote this <%=distance_of_time_in_words(Time.now, post.created_at, include_seconds = false) %> ago</p>
	<% if controller_name == 'home' || controller_name == 'users' %>
		<h6><%= raw(truncate(post.body, :length => 340, :separator => ' ', :omission => (link_to ' (...continued)', user_post_path(post.user, post)))) %></h6>
	<% else %>
		<h6><%= post.body %></h6>
	<% end %>

	<ul>
		<li id="comments-show">
			<a href="#"><%= pluralize(post.comments.count, 'comment') %></a> 
			<% if @user == current_user %>
				<%= link_to "Delete Post", user_post_path(@user, post), :method => :delete %>
			<% end %>
		</li>
		<li class="hide-comments">
			<%= render 'shared/comments', :post => post %>
		</li>
	</ul>	
</div>