<div class="text-container">

	<%= render '/shared/flashes' %>

	<div class="feed-container">

		<!-- Display list of all posts -->
		<div class="posts-container">
			<h2>Welcome back, <span style="font-family:'Pacifico'"><%= current_user.first_name %></span></h2>
			<%= render 'shared/posts', :posts_variable => @feed_items %>
		</div>

		<!-- Display list of all users -->
		<div class="users-list-container">
			<h4>List of users</h4>
			<% @users.each do |user| %>
			<%= image_tag user.profile_picture_url(:small_thumb).to_s, :class => "profile_picture small_thumb_profile_picture" %>
				<p><%= link_to "#{user.first_name} #{user.last_name}", user %> 
				 		<% unless following_helper_2?(user) %>
				 			<%= link_to "Follow", relationships_path(:followed_user_id => user), :method => :post, :class => "btn btn-primary btn-mini" %>
				 		<% end %>
				</p>
				<div id="clearfix"></div>
			<% end %> 
		</div>
		
	</div>


</div>



