<br>
<br>
<br>
<br>
<br>



Neuen Beitrag verfassen

<%= form_for [current_user, @post] do |f| %>

	<% if @post.errors.any? %>
	  <div id="error_explanation" class="alert alert-error">
	    <h3><%= pluralize(@post.errors.count, "error") %> prohibited this form from being saved:</h3>
	    <ul>
	      <% @post.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>

	<div class="span8 newpost">
		<label>Titel (darf nicht leer sein)</label>
	  <%= f.text_field :title, class: "input-block-level" %>
	  <label>Vorspann (falls gewünscht, sonst leer lassen)</label>
	  <%= f.text_area :header %>
	  <label>Text des Beitrags (darf nicht leer sein)</label>
	  <%= f.text_area :body, id: "some-textarea" %>
	  <%= f.submit 'Beitrag publizieren', class: 'sign-in' %>
	</div>
<% end %>


<!-- Javascript Text Editor -->
<script type="text/javascript">
	$(document).on('page:load', function(){
	  window['rangy'].initialized = false
	})
	$('#some-textarea').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": true, //Italics, bold, etc. Default true
		"lists": false, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": true, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false //Button to change color of font  
	});
</script>

				