<div class="author-container">

	<div class="author-info">
		<%= link_to (image_tag @post.user.profile_picture_url(:thumb).to_s, :class => "profile-picture"), @post.user %>

		<p class="name"><%= link_to name(@post), @post.user %></p>
		<p class="teaser"><%= @post.user.teaser %></p>

		<div class="author-divider"></div>

		<p class="published-at">Veröffentlicht</p>
		<p class="date"><%= @post.created_at.strftime("%d %b. %Y") %></p>

	</div>

</div>



<div class="post-container">

	<!-- Needed to push down text-area and flashes b/c of navbar -->
	<% if logged_in? && flash.any? %>
		<div id="push-down-element"></div>
	<% end %>

	<%= render 'shared/flashes' %>
	
	<div class="text-area">

		<p class="title"><%= @post.title %></p>
	
		<% if @post.header %>
			<p class="text header"><%= @post.header %></p>
		<% end %>

		<!-- Sanitize displays correct mark-up -->
		<p class="text"><%= sanitize @post.body %></p>	

		<% if current_user == @post.user %>
			<%= link_to "Beitrag bearbeiten", edit_user_post_path(@post.user, @post), class: "link" %>

			<%= link_to "Beitrag löschen", user_post_path(@post.user, @post), method: :delete, data: { confirm: "Sind Sie sicher, dass Sie diesen Beitrag unwiderruflich löschen möchten?" }, class: "link" %>
		<% end %>	
		
	</div>

</div>

<div class="next-article-container">

	<p>Nächsten Beitrag lesen</p>

	<p class=""><%= link_to @nextpost.title, user_post_path(@nextpost.user, @nextpost) %></p>

	<%= link_to (image_tag @nextpost.user.profile_picture_url(:thumb).to_s, :class => "profile-picture"), @nextpost.user %>
	
	<p class="" id="clearfix"><span><%= link_to name(@nextpost), @nextpost.user %></span></p>
	
	<% if @nextpost.header %>
		<p class=""><%= link_to @nextpost.header.truncate(270, :separator => ' ', :omission =>'...'), user_post_path(@nextpost.user, @nextpost) %></p>		
	<% else %>
		<!-- strip_tags takes out all html tags inserted by JS editor -->
		<p class=""><%= link_to strip_tags(@nextpost.body.truncate(270, :separator => ' ', :omission =>'...')), user_post_path(@nextpost.user, @nextpost) %></p>	
	<% end %>

</div>





	

