<div class="navbar navbar-inverse navbar-fixed-top">

	<!-- Left part of navbar -->
	<div class="navbar-inner">
   	<%= link_to "Lawyerly", root_path, :class => "brand", :style => "margin-left:0; margin-right:20px; color:#08C; font-family:'Pacifico'; font-size:40px" %>
   	
    <ul class="nav">
  	  <i class="icon-chevron-down icon-white"></i><li class="<%= "active" if current_page?(root_path) %>"><%= link_to "What's New", root_path %></li>
  	  <i class="icon-user icon-white"></i><li class="<%= "active" if current_page?(user_path(current_user)) %>"><%= link_to "My Profile", user_path(current_user) %></li> 
  	  <i class="icon-pencil icon-white"></i><li><a href="#" class="dropdown-trigger-newpost">New Post</a>
  	  </li>
  	  <i class="icon-envelope icon-white"></i><li><a href="#" class="dropdown-trigger-notifications">Notifications</a>
  	  	<% if current_user.notifications.any? %>
  	  		<div id="notification-bubble"><%= current_user.notifications.count %></div>
  	  	<% end %>
  	  </li> 
    </ul>

  	<!-- Right part of navbar -->	
	  <div class="nav-right">
		  <p><%= current_user.first_name %> <%= current_user.last_name %><%= link_to 'Sign out', :session, :method => :delete, :class => "sign-out" %></p>
		</div>
	</div>

    <!-- Search form -->
		<%= form_tag users_path, :method => 'get' do %>
	    <%= text_field_tag :search, params[:search], :placeholder => "Search for first or last name...", :class => "search-query search-form" %>
	    <%= submit_tag "Search", :name => nil, :class => "search-input-hide" %>
		<% end %>

		<!-- Dropdown for search results -->
		<div id="search-results">
			<% if session[:search_users] != nil %>
				<% if session[:search_users].empty? %>
					<div class="search-result">
						<p><span>No name matches your search</span></p>
					</div>
				<% else %>
				  <% session[:search_users].each do |record| %>
				  	<%= link_to(user_path(User.find(record.searchable_id)), :class => "search-link") do %>
					  	<div class="search-result">
								<%= image_tag User.find(record.searchable_id).profile_picture_url(:small_thumb).to_s, :class => "profile_picture small_thumb_profile_picture" %>
								<p><span><%= User.find(record.searchable_id).first_name %> <%= User.find(record.searchable_id).last_name %></span></p>
							</div>
						<% end %>	
					<% end %>
				<% end %>
				<% session[:search_users] = nil %>
			<% end %>	
		</div>
		
		<!-- Dropdown for new post -->
		<div id="navdropdown-newpost">
			<%= form_for [current_user, Post.new] do |f| %>
				<%= render "shared/newpost", :f => f %>
			<% end %>
		</div>

		<!-- Dropdown for notifications -->
		<div id="navdropdown-notifications">
			<% if current_user.notifications.empty? %>
				<p>No new notifications</p>
			<% else %>
				<% current_user.notifications.each do |notification| %>
					<%= link_to(notification_path(notification), :method => :delete, :class => "notification") do %>
						<% if notification.follower_id != nil %>
							<%= image_tag User.find(notification.follower_id).profile_picture_url(:small_thumb).to_s, :class => "profile_picture small_thumb_profile_picture" %>
							<p><span><%= User.find(notification.follower_id).first_name %> <%= User.find(notification.follower_id).last_name %></span></p>
							<p>is now following you</p>
						<% else %>
							<%= image_tag User.find(notification.commenter_id).profile_picture_url(:small_thumb).to_s, :class => "profile_picture small_thumb_profile_picture" %>
							<p><span><%= User.find(notification.commenter_id).first_name %> <%= User.find(notification.commenter_id).last_name %></span></p>
							<p>has commented on your post</p>
							<p class="title-correct">"<%= Post.find(notification.post_id).title %>"</p>
						<% end %>
						<% unless notification == current_user.notifications.last %>
							<div class="divider"></div>
						<% end %>
					<% end %>		
				<% end %>
			<% end %>
		</div>
	
</div>
