<!DOCTYPE html>
<html>
<head>
  <title>Lawyerly</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if logged_in? %>
		<%= render 'shared/logo_navbar' %>
	<% else %>
		<a href="/"><div id="logo-short">L</div></a>
	<% end %>

	<%= yield %>


</body>
</html>
